{% extends 'main/base.html' %}

{% block base_title %}
    Dashboard
{% endblock %}

{% block content %}
{% for post in posts %}
<div class='card mt-2'>
    <div class='card-header d-flex justify-content-between'>
        <div>
            <strong>@{{ post.author.username }}</strong>
            <span class="text-muted small"> - {{ post.created_at|date:"M d, Y H:i" }}</span>
        </div>
        <div>
            {% if user == post.author or perms.main.delete_post %}
            <form method='POST' style="display:inline;">
                {% csrf_token %}
                <button type='submit' class='btn btn-warning btn-sm' name='post_id' value="{{ post.id }}">Delete</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class='card-body'>
        <h5 class='card-title'>{{ post.title }}</h5>
        <p class='card-text'>{{ post.description }}</p>
    </div>
</div>
{% endfor %}
{% endblock content %}
